:root {
    --color-primary: #4e3965;
    --color-secondary: #eea529;
    --color-primary-dark: #100d12;
    --color-primary-dark2: #2e213c;
    --border-width: 4px;
    --border-radius: 20px;
    --spacing: 20px;
}
body {
    background-color: var(--color-primary-dark);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary-dark2);
    padding: calc(var(--spacing) / 2) var(--spacing);
}
button, input, select {
    font-size: 20px;
    outline: none;
    color-scheme: dark;
}
input, select {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: calc( var(--border-radius) / 2);
    color: white;
    border: solid rgba(255, 255, 255, 0) 3px;
    padding: 8px;
}
input:focus, select:focus {
    border: solid rgba(255, 255, 255, 0.75) 3px;
}
button {
    background-color: var(--color-primary);
    color: white;
    border: var(--border-width) solid var(--color-primary);
    border-radius: var(--border-radius);
    padding: 5px 20px;
}
button:hover {
    background-color: var(--color-primary-dark2);
}
.todo {
    background-color: var(--color-primary-dark2);
    margin: calc(var(--spacing));
    display: grid; 
}
.todo-title {
    color: #000; 
    background-color: var(--color-secondary);
    padding: calc(var(--spacing) / 2.5) calc(var(--spacing) / 4);
    font-weight: bold;
}
.todo-desc {
    margin: calc(var(--spacing) / 4)
}
.todo-bottom {
    display: flex;
    justify-content: right;
    margin: calc(var(--spacing) / 2)
}
.todo-deadline {
    font-size: 0.8em; text-align: right;
    margin: calc(var(--spacing) / 4)
}
.form {
    display: grid; 
    margin: var(--spacing);
}
.form > *:nth-child(even) {
    margin-bottom: var(--spacing);
}
.mr-8 {
    margin-right: 8px;
}