:root {
    --color-primary: #4e3965;
    --color-secondary: #eea529;
    --color-primary-dark: rgb(29, 24, 33);
    --color-primary-dark2: #2e213c;
    --border-width: 4px;
    --border-radius: 20px;
    --spacing: 15px;
}
body {
    background-color: var(--color-primary-dark);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 1000px) {
    main {
        width: 960px;
        margin: 0 auto;
    }
}
main {
    margin-top: calc(var(--spacing) * 6)
}
header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0; left: 0;
    justify-content: space-between;
    background-color: var(--color-primary-dark2);
    padding: calc(var(--spacing) / 1.5) var(--spacing);
    border-bottom: #4e3965 solid var(--border-width);
    box-sizing: border-box;
}
input, select, textarea {
    font-size: 20px;
    outline: none;
    color-scheme: dark;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: calc( var(--border-radius) / 2);
    color: white;
    border: solid rgba(255, 255, 255, 0) 3px;
    padding: 8px;
    margin: calc(var(--spacing) / 3) 0;
}
option {
    background-color: var(--color-primary-dark2);
}
input:focus, select:focus, textarea:focus {
    border: solid rgba(255, 255, 255, 0.75) 3px;
}
pre {
    margin: 0;
    font-family: sans-serif;
    white-space: pre-wrap;
}
textarea {
    resize: none;
    height: 100px;
}
button {
    font-size: 18px;
    background-color: var(--color-primary);
    color: white;
    border: var(--border-width) solid var(--color-primary);
    border-radius: var(--border-radius);
    padding: 3px 20px;
    height: 40px;
}
button:hover {
    background-color: var(--color-primary-dark2);
}
.todo {
    background-color: var(--color-primary-dark2);
    margin: calc(var(--spacing));
    display: grid; 
}
.todo-title {
    color: #fff;
    background-color: var(--color-primary);
    padding: calc(var(--spacing) / 1.5) calc(var(--spacing));
    font-size: 1.1em;
    letter-spacing: 1px;
}
.todo-desc {
    margin: calc(var(--spacing));
}
.todo-bottom {
    display: flex;
    justify-content: right;
    margin: calc(var(--spacing));
}
.todo-deadline {
    font-size: 0.8em; text-align: right;
    margin: 0 calc(var(--spacing));
}
.form {
    display: grid; 
    margin: var(--spacing);
}
.form > label {
    margin-top: var(--spacing);
}
.form > button {
    margin: var(--spacing) 0;
}
.mr-8 {
    margin-right: 8px;
}
