<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/style.css" />
        <title>Edit</title>
    </head>
    <body>
        <header>
            <form action="/" method="get">
                <button type="submit">◀ Go Back</button>
            </form>
        </header>
        <form class="form" action="/edit/{{ todo.id }}" method="post">
            <label for="title">Title</label>
            <input name="title" id="title" type="textbox" value="{{ todo.title }}" required/>
            <label for="desc">Description</label>
            <input name="desc" id="desc" type="textbox" value="{{ todo.desc }}"/>
            <label for="created_at">Created at</label>
            <input name="created_at" id="created_at" type="datetime-local" value="{{ todo.created_at }}" disabled/>
            <label for="deadline">Deadline</label>
            <input name="deadline" id="deadline" type="datetime-local" value="{{ todo.deadline }}"/>
            <label for="status">Status</label>
            <select name="status" id="status">
                <option value="TODO" {% if todo.status == "TODO" %} selected {% endif %}>TODO</option>
                <option value="DOING" {% if todo.status == "DOING" %} selected {% endif %}>DOING</option>
                <option value="DONE" {% if todo.status == "DONE" %} selected {% endif %}>DONE</option>
            </select>
            <button type="submit">Save</button>
        </form>
        <form class="form" action="/delete/{{todo.id}}" method="post">
            <button type="submit">Delete</button>
        </form>
    </body>
</html>