<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/style.css" />
        <title>Todos</title>
    </head>
    <body>
        <header>
            <form action="/logout" method="post">
                <button type="submit">❌ Logout</button>
            </form>
            <form action="/add" method="get">
                <button type="submit">➕ Add new</button>
            </form>
        </header>
        {% for todo in todos %}
            <div class="todo">
                <div class="todo-title">{{ todo.title }}</div>
                <div class="todo-desc">{% if todo.desc != "" %} <pre>{{todo.desc}}</pre> {% else %} <i>No description</i> {% endif %}</div>
                <div class="todo-deadline">{% if todo.deadline != "" %} Deadline {{todo.deadline}} {% else %} <i>No deadline</i> {% endif %}</div>
                <div class="todo-bottom">
                    <form action="/switch/{{ todo.id }}" class="mr-8" method="post">
                        <button type="submit">{{ todo.status }}</button>
                    </form>
                    <form action="/edit/{{ todo.id }}" method="get">
                        <button type="submit">✏️ Edit</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </body>
</html>