<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/style.css" />
        <title>Todos</title>
    </head>
    <body>
        <header>
            <form action="/logout" method="post">
                <button type="submit">❌ Logout</button>
            </form>
            <form action="/add" method="get">
                <button type="submit">➕ Add new</button>
            </form>
        </header>
        <main>
        {% for todo in todos %}
            <div class="todo">
                <div class="todo-title">{{ todo.title }}</div>
                <div class="todo-desc">
                    {% if todo.desc != "" %}
                        <pre id="textBox{{todo.id}}">{{todo.desc}}</pre> 
                        {% if todo.needsShowMore %}
                            <a class="showMore" onclick="expOrContr(this, {{todo.id}})">[ Show more ]</a>
                        {% endif %}
                    {% else %} 
                        <i>No description</i> 
                    {% endif %}
                </div>
                <div class="todo-deadline">{% if todo.deadline != "no deadline" %} {{todo.deadline}} {% else %} <i>no deadline</i> {% endif %}</div>
                <div class="todo-bottom">
                    <div class="priority priority-{{todo.priority}}">{{todo.priority}}</div>
                    <div style="display: flex;">
                        <form action="/switch/{{ todo.id }}" class="mr-8" method="post">
                            <button type="submit">
                                {% if todo.status == 'TODO' %}
                                    🔴
                                {% elif todo.status == 'DOING' %}
                                    🔵
                                {% else %}
                                    🟢
                                {% endif %}
                                {{ todo.status }}
                            </button>
                        </form>
                        <form action="/edit/{{ todo.id }}" method="get">
                            <button type="submit">✏️</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </main>
        <script>
            function expOrContr (el, id) {
                const desc = document.getElementById('textBox' + id)
                if (desc.style.maxHeight === 'none') {
                    desc.style.maxHeight = ''
                    el.textContent = "[ Show more ]"
                } else {
                    desc.style.maxHeight = 'none'
                    el.textContent = "[ Show less ]"
                }
            }
        </script>
    </body>
</html>