<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/style.css" />
        <title>Login</title>
    </head>
    <body>
        <main>
            <form class="form" action="/login" method="post" style="background-color: #2e213c96; margin-top: 50px; padding: 25px; border-radius: 20px;">
                <label for="username">Username</label>
                <input name="username" id="username" type="textbox"/>
                <label for="password">Password</label>
                <input name="password" id="password" type="password" />
                <button type="submit">login</button>
            </form>
        </main>
    </body>
</html>