<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/style.css" />
        <title>puc8</title>
    </head>
    <body>
        <main>
            <form class="form" id="myForm" action="/puc" method="post" style="background-color: #2e213c96; padding: 25px; border-radius: 20px;">
                <textarea name="assembly" id="desc" style="height: 300px !important">{{ assembly }}</textarea>
                <button type="submit">COMPILE</button>
                <button type="button" onclick="copy();">COPY</button>
                <textarea id="machine" name="machine" style="height: 300px !important" id="desc">{{ machine }}</textarea>
            </form>
        </main>

    <script>
        function copy()
        {
            machine = document.getElementById('machine')
            machine.select();
            navigator.clipboard.writeText(machine.value);
        }

        document.addEventListener('keydown', function(e) {
            if (e.ctrlKey && e.key === 's') {
            e.preventDefault();
            document.getElementById('myForm').submit()   
            }
        });
        </script>
    </body>
</html>